<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title class="title">Spending Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/layout.css">
</head>
<header>
<!-- <img src="https://ariad-staging.com/images/money-clipart-business-8.jpg" alt=""> -->
  <h1>SPENDING TRACKER</h1>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/merchants/new">NEW MERCHANT</a></li>
        <li><a href="/tags/new">NEW TAG</a></li>
        <li><a href="/tags">TAGS</a></li>
        <li><a href="/merchants">MERCHANTS</a></li>
      </ul>
    </nav>
</header>
<body>
  <%= yield %>
</body>
</html>
